<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Temperature Converter</title>
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="full Container" >
        
            <!-- <header>
                <img src="../static/images/image.png" alt="icon" id="icon">
                <h6 id="name">AI Temperature Converter</h6>
                <button id="menu">menu</button>
            </header>
         -->


        
        <main>
                <div class="Input_section">
                    <form action="/convert" method="post">
                        <label for="input_text"> Enter your message</label>
                        <textarea name="query" id="input_text" placeholder="Convert 55 degree celsius to kelvin"></textarea>
                        <button type="submit">Send</button>
                    </form>
                </div>
                <div class="result_display_section">
                    <h3>Conversion Result</h3>
                    <div class="result_box">
                        <p class="conversion_result"></p>

                    </div>
                </div>
                <div class="example_section">

                </div>
        </main>
        



        <!-- <div class="footer_section">
            <footer>
                <input type="text" placeholder="Convert 55 degree Celsius to fahrenheit">
                <button type="submit" class="send_button">Send</button>
            </footer>
        </div> -->
</div>

    
</body>
</html>